@model List<FundRaiser.Common.Models.Project>
@{
    ViewData["Title"] = "Categories";
}

<div class="text-center mb-4">
    <h4>@((FundRaiser.Common.Models.Category) Convert.ToInt32(Context.Request.RouteValues["id"])) Projects</h4>
</div>
<div class="row">
    @foreach (var project in Model)
    {
        <div class="card-deck col-md-4 mb-4">
            <div class="card">
                @if (project.Media.Count > 0)
                {
                    <img src="/images/@project.Media[0].Path" title="project image" />
                }
                else
                {
                    <img src="images/no_image.jpg" title="project image" />
                }

                <div class="card-header">
                    <h4>@project.CurrentAmount / @project.Goal &euro;</h4>
                    <progress value="@(project.CurrentAmount/project.Goal*100)" , max="100"></progress>
                </div>
                <div class="card-body">
                    <h3 class="card-title">@project.Title</h3>
                    @if (project.Description.Length > 100)
                    {
                        <p class="card-text">@(project.Description.Substring(0, 100)) ...</p>
                    }
                    else
                    {
                        <p class="card-text">@(project.Description)</p>
                    }
                </div>
                <div class="card-footer">
                    <small class="text-muted">@((project.EndDate - DateTime.Now).Days) days to go</small>
                    <a class="btn btn-primary float-right" asp-area="" asp-controller="Project" asp-action="ProjectView" asp-route-id="@project.Id">Read More</a>
                </div>
            </div>
        </div>
    }
</div>