@model List<FundRaiser.Common.Models.Project>
@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center mb-4">
    <h4>My Projects</h4>
</div>
<div class="row">
    @foreach (var project in Model)
    {
        <div class="card-deck col-md-4 mb-4">
            <div class="card">
                @if (project.Media.Count > 0)
                {
                    <img src="/images/@project.Media[0].Path" title="project image" />
                }
                else
                {
                    <img src="images/no_image.jpg" title="project image" />
                }
                <div class="card-header">
                    <h4>@project.CurrentAmount / @project.Goal</h4>
                    <progress value="@(project.CurrentAmount/project.Goal*100)" , max="100"></progress>
                </div>
                <div class="card-body">
                    <h3 class="card-title">@project.Title</h3>
                    @if (project.Description.Length > 100)
                    {
                        <p class="card-text">@(project.Description.Substring(0, 100)) ...</p>
                    }
                    else
                    {
                        <p class="card-text">@(project.Description)</p>
                    }
                </div>
                <div class="card-footer">
                    <small class="text-muted">@((project.EndDate - DateTime.Now).Days) days to go</small>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary col" asp-area="" asp-controller="Update" asp-action="Create" asp-route-id="@project.Id">
                        Add Update
                    </a>
                    <a class="btn btn-secondary col" asp-area="" asp-controller="Reward" asp-action="Create" asp-route-id="@project.Id">
                        Add Reward
                    </a>
                    <a class="btn btn-info col" asp-area="" asp-controller="Project" asp-action="Update" asp-route-id="@project.Id">
                        Update Project
                    </a>
                    <a class="btn btn-danger col" asp-area="" asp-controller="Project" asp-action="Delete" asp-route-id="@project.Id">
                        Delete Project
                    </a>
                </div>
            </div>
        </div>
    }
</div>